{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": "4"
        }
      }
    ]
  ],
  "plugins": ["dynamic-import-webpack", "@babel/plugin-transform-runtime"]
}